<html>
	<head>
		<meta charset="utf-8">
    <title>Monopoly Cards CSS</title>
    <meta name="description" content="">
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
		<link rel="stylesheet" href="styles/css/main.css">
	</head>
	<body>
		<div class="container">
			<div id="app" class="grid">
				<div class="card" v-for="property in cards">
					<div class="card-title" v-bind:data-color="property.color">
						<p class="card-title__text">List vlastnictví</p>
						<h2 class="card-title__name">{{ property.name }}</h2>
					</div>
					<div class="card-body">
						<span class="card-body__rent">Pronájem ${{ property.rent[0] }}</span>
						<div class="card-body__rents">
							<div class="card-body__row">
								<span>Pronájem s 1 domem</span>
								<span>$ {{ property.rent[1] }}</span>
							</div>
							<div class="card-body__row">
								<span>Pronájem s 2 domy</span>
								<span>$ {{ property.rent[2] }}</span>
							</div>
							<div class="card-body__row">
								<span>Pronájem se 3 domy</span>
								<span>$ {{ property.rent[3] }}</span>
							</div>
							
							<div class="card-body__row">
								<span>Pronájem se 4 domy</span>
								<span>$ {{ property.rent[4] }}</span>
							</div>
						</div>
						<span class="card-body__rent">s HOTELEM ${{ property.rent[5] }}</span>
						<span class="card-body__rent">Hodnota hypotéky ${{ property.mortgage_value }}</span>
						<span class="card-body__rent">Domy cena ${{ property.house_cost }} každý</span>
						<span class="card-body__rent">Hotely, ${{ property.house_cost }}. plus 4 domy</span>
						<p class="card-body__footer">If a player owns ALL the Lots of any Color-Group, the rent is Doubled on the Unimproved Lots in that group.<br></p>
					</div>
				</div>
			</div>
		</div>
		<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
		<script src="scripts/app.js"></script>
	</body>
</html>